
.cabecalho {
    display: block;
    text-align: center;
    background-color: red;
    color: white;
    padding: 20px;
}

.border {
    display: inline-block;
    border: 1px  solid blue;
    padding: 10px;
    color: blue;
}

.item {
    display: inline;
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
    margin: 10px;
}

.grid-conteiner {
background-color: red;
display: flex;
gap: 20px;
padding: 30px;
}

.grid-item {
    display: flex;
    background-color: blue;
    text-align: center;
    padding: 10px;
    width: 500px;
}

.grid-item2 {
    display: flex;
    background-color: blue;
    text-align: center;
    padding: 10px;
    width:  850px;
}

.block-conteiner {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.num {
    
}