@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

header {
    height: 80px;
    padding: 0 252px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc63;
}

.logo {
    font-family: 'Oleo Script', cursive;
    font-size: 42px;
    color: #09C184;
    text-decoration: none;
}

.logo:hover {
    color: #0A8967;
    transition: .2s ease-in-out;
}

.active {
    color: #0A8967;
    margin-right: 40px;
    font-weight: bold;
    text-decoration: underline;
}

#item {
    font-size: 16px;
    font-weight: bold;
    color: #09C184;
    text-decoration: none;
    margin-right: 40px;
}

#item:hover { 
    transition: .2s ease-in-out;
    cursor: pointer;
    color: #0A8967;
}

.login {
    border: 1px solid #09C184;
    padding: 8px 14px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;
    color: #09C184;
}

.login:hover {
    cursor: pointer;
    background-color: #0A8967;
    color: #fff;
    transition: .2s ease-in-out;
    border: 1px solid #ffffff00;
}

.cadastro {
    background-color: #09C184;
    color: #fff;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 5px;
}

.cadastro:hover {
    transition: .2s ease-in-out;
    cursor: pointer;
    color: #fff;
    background-color: #0A8967;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
}

/* Estilos para o título */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para o parágrafo */
p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Estilos para o botão */
button {
    padding: 10px 20px;
    background-color: #09C184;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0A8967;
}

/* Estilos para a imagem */
.image img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.conteiner {
    display: flex;
    height: 88%;
    align-items: center;
    padding: 0 252px;
    justify-content: center;
}

.left {
    width: 50%;
}

h1 {
    color: #09C184;
    font-size: 60px;
    width: 100%;
    font-weight: 900;
}

h2 {
    color: #09C184;
    font-size: 32px;
    padding-bottom: 20px;
}

span {
    color: #09C184;
    font-size: 20px;
    font-weight: 500;
}

#span {
    margin-left: 20px;
    cursor: pointer;
}

#span:hover {
    text-decoration: underline;
}

.descricao{
    font-size: 20px;
    color: #7e7e7e;
    width: 80%;
    text-align: justify;
    padding: 20px 0;
}

button {
    font-size: 16px;
    font-weight: 700;
    padding: 15px 50px;
    border-radius: 50px;
    color: #fff;
    border: 2px solid #09C184;
    background-color: #09C184;
}

button:hover {
    cursor: pointer;
    background-color: #09C184;
    color: #fff;
    transition: .3s ease-in-out;
    transform: scale(1.05);
}

.right {
    width: 50%;
}

img {
    width: 100%;
}

img:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: .5s;
}

/* CSS para centralizar a main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Isso garante que a main ocupe toda a altura da tela. */
}


i {
    font-size: 26px;
    margin-top: 3px;
}